<div class="debug">
  <code
    >{{check status 1}} {{check ratio 2.5}} {{check label "active"}}
    {{check on true}} {{check off false}} {{check missing null}}
    {{check unset undefined}}</code
  >
</div>
